* {
  font-family: "Gowun Dodum", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
.banner_text {
  text-align: center;
  font-size: 20px;
  line-height: 100px;
  height: 70px;
}
.banner_title {
  text-align: center;
  font-size: 40px;
  line-height: 140px;
  height: 100px;
}
.banner {
  width: 1300px;
  margin: 100px auto;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  -bs-bg-opacity: 0 !important;
}
body {
  background-color: rgb(247, 247, 247) !important;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* 404 */
#notFound {
  color: rgb(247, 247, 247);
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  position: relative;
}
#notFound h2 {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* loginMain */
.commentslists {
  width: 1300px;
  margin: 100px auto;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  -bs-bg-opacity: 0 !important;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 10px;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 10px;
}
.flip-card-back {
  background-color: white;
  color: gray;
  transform: rotateY(180deg);
  font-family: "Noto Sans KR", sans-serif;
}
.flip-card-back button {
  width: 150px;
  height: 30px;
  margin-left: 70px;
  border-radius: 20px;
  background-color: #61efc7;
  border: 2px solid #61efc7;
  transition: all 0.3s;
  font-weight: 700;
  box-shadow: none !important;
  color: #fff;
  padding: 0 30px;
  display: block;
}
.flip-card-back button:hover {
  transition: all 0.2s;
  background-color: transparent;
  color: #61efc7;
  border: 2px solid #61efc7;
}
.title_line {
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  margin: 40px 0 20px;
  padding-left: 30px;
  font-weight: 700;
  color: #333;
}
.name_line {
  width: 300px;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 14px 0;
  font-weight: 300;
}
.text_line {
  width: 260px;
  height: 150px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3;
  height: 163px;
  padding-left: 30px;
  font-size: 1.1em;
  overflow: hidden;
  margin-bottom: 25px;
}
.my-cmtAt {
  color: #bdc2c8;
  padding: 0 20px;
  font-weight: 300;
}

/* nav bar */
.container-fluid {
  margin-top: 15px;
}
#navBtn {
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  padding: 8px 5px;
  margin-right: 30px;
}
#navBtn:hover {
  transition: all 0.2s;
  background-color: #444;
}
#navBtn- {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
#profilebox {
  width: 100px;
  position: relative;
  margin-right: 50px;
}
/* 프로필 이미지 사이즈 조정 */
#profileImg {
  object-fit: cover;
  border-radius: 30px;
}
/* ▼버튼 */
.nav_btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: #333;
  margin-left: 10px;
}
.nav_btn:hover {
  transition: all 0.2s;
  background-color: rgb(228, 228, 228);
}
/* 프로필수정,내블로그,로그아웃바 */
.nav_item {
  position: absolute;
  top: 70px;
  right: 0;
  display: none;
  background-color: #fff;
  list-style: none;
  z-index: 999;
  box-shadow: 0 1px 10px 0 rgba(148, 148, 148, 0.1);
}
.nav_item #nav-box {
  width: 170px;
}
.nav_item #nav-box::after {
  content: "";
  display: block;
  border: 1px solid rgb(242, 242, 242);
  width: 100%;
}
#nav-box:hover a {
  transition: all 0.3s;
  color: #61efc7;
}
#nav-line {
  height: 45px;
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}
.opener {
  display: none;
}
.opener:checked ~ .nav_item {
  display: block;
}
.opener:checked ~ .nav_item {
  display: block;
}

/* auth */
#authPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#authWrapper {
  border-radius: 10px;
  background-color: #fff;
  min-width: 500px;
  min-height: 600px;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3);
}
/* sign in */
#authTitle {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 60px;
  color: #333;
  font-weight: 700;
  font-size: 2.3em;
  margin-bottom: 40px;
}
/* 이메일 비밀번호 */
.authInput {
  font-weight: 300;
  color: rgb(91, 91, 91);
}
.authInput input {
  width: 300px;
  margin: 15px 0 0;
  padding: 10px;
  background-color: rgb(238, 238, 238);
  border: none;
}
/* 로그인 회원가입 버튼 */
#autBtnSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#authToggle,
#authBtn {
  background-color: #37ecba;
  margin: 30px 3px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 30px;
  transition: all 0.3s;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  border: 1px solid #61efc7;
  box-sizing: border-box;
}
#authBtn {
  width: 200px;
}
#authToggle:hover,
#authBtn:hover {
  background-color: transparent;
  color: #61efc7;
}
/* 소셜로그인 */
.socialBtns {
  display: flex;
  width: 220px;
  margin: 20px auto;
  justify-content: space-between;
}
#socialbtn {
  border-radius: 50%;
  border: 1px solid #bec3c9;
  background-color: #fff;
  width: 70px;
  height: 70px;
  margin: 0 15px;
  padding: 5px;
}
.githubBtn img {
  width: 100%;
  object-fit: contain;
}
.googleBtn img {
  width: 100%;
  object-fit: contain;
}

/* review style */
.postNav {
  height: 100px;
  display: flex;
  justify-content: right;
}
.postNav #goMainBtn {
  margin: 5px;
  border-radius: 20px;
  padding: 5px 20px;
  margin-left: 20px;
}

.post-container {
  width: 50%;
  height: 650px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.3);
  padding: 90px 50px 0;
  margin-top: 20px;
  display: none;
  border-radius: 15px;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
#nickname {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.form-floating {
  margin-bottom: 25px;
}

.form-floating label {
  margin-left: 5px;
  font-size: 15px;
}
/* 작성완료버튼 */
#submitBtn {
  display: flex;
  float: right;
  border-radius: 20px;
  padding: 5px 30px;
  background-color: #61efc7;
  border: none;
  transition: all 0.3s;
  font-weight: 700;
  box-shadow: none !important;
}
#submitBtn:hover {
  background-color: #86f3d4;
}
.cmtImg {
  border-radius: 50%;
  margin-right: 10px;
}
.my-review-container {
  width: 100%;
  margin: auto;
}
/* 리뷰 쓰기 버튼 */
.my-review-btn {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: none;
}
#writeBtn {
  width: 150px;
  margin: 30px;
  border-radius: 20px;
  background-color: #61efc7;
  border: 2px solid #61efc7;
  transition: all 0.3s;
  font-weight: 700;
  box-shadow: none !important;
}
#writeBtn:hover {
  background-color: transparent;
  color: #61efc7;
  border: 2px solid #61efc7;
}

/* 카드 디자인 */
#my-review-list {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 80px auto;
}
.my-comment-card {
  max-width: 500px;
  margin: 0 auto;
}
.my-card-body {
  background-color: white;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(164, 164, 164, 0.5),
    0 15px 12px rgba(164, 164, 164, 0.3);
  margin-bottom: 50px;
  float: left;
  padding: 0 1.3rem;
  width: 350px;
}
/* hover시 화면전환 */
.my-card-body::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 500px;
  transition: 0.2s;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    15%,
    rgba(255, 255, 255, 0)
  );
}
.my-card-body:hover::before {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    40%,
    rgba(0, 0, 0, 0.3)
  );
  backdrop-filter: blur(3px) !important;
}
/* 날짜 */
.my-card-body .my-cmtAt {
  text-align: right;
  font-size: 14px;
  padding: 15px;
  font-weight: 500;
  color: rgb(223, 223, 223);
  text-shadow: 0 1px 6px rgba(115, 115, 115, 0.9);
}
/* 내용 */
.my-card-body .my-content {
  width: 100%;
  transform: translateY(calc(245px + 4em));
  transition: transform 0.4s;
  padding: 0 35px;
  position: relative;
  z-index: 1;
  color: rgb(246, 246, 246);
  overflow: hidden;
}
.my-card-body:hover .my-content {
  transform: translateY(80px);
  background: transparent;
}
.my-card-body .my-title {
  font-weight: 700;
  font-size: 1.5em;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
}
.my-card-body .my-review-text {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 300;
  color: rgb(203, 202, 202);
}
.my-card-body:hover .my-review-text {
  height: 120px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: rgb(241, 241, 241);
}
/* 수정 삭제버튼 */
.my-content #my-card-btn {
  margin: 1.5em auto 1em;
  text-align: center;
  line-height: 1;
  position: relative;
}
.my-content #my-card-btn button {
  margin: 0 auto;
  width: 200px;
  color: #fff;
  margin-bottom: 10px;
  background-color: #61efc7;
  border: none;
  border-radius: 20px;
  padding: 10px 0;
  font-size: 1em;
  transition: all 0.2s;
}
.my-content #my-card-btn button:hover {
  background-color: #86f3d4;
}
.my-content #my-card-btn::after {
  content: "\2192";
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.my-content #my-card-btn:hover .my-card-body #my-card-btn::after {
  transform: translate(5px, -50%);
  opacity: 1;
}
.my-card-body .my-content > button {
  display: block;
  margin: 20px auto 0;
  width: 250px;
  color: #61efc7;
  background-color: transparent;
  border: 1px solid #61efc7;
  border-radius: 20px;
  padding: 8px 0;
  font-size: 0.75em;
}
/* 수정창 */
.updateBtns {
  display: flex;
  justify-content: end;
  margin-top: 5px;
  gap: 5px;
}
.noDisplay {
  display: none !important;
}
.updateBtn {
  margin: 0 auto;
  width: 250px;
  color: #fff;
  background-color: #61efc7;
  border: none;
  border-radius: 20px;
  padding: 8px 0;
}
.changeinput {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}
.changeinput .newtitleInput {
  height: 50px;
  margin-top: 20px;
  background-color: rgb(238, 238, 238);
  border: none;
}
.changeinput .newCmtInput {
  margin: 10px 0 30px;
  background-color: rgb(238, 238, 238);
  border: none;
}
/* profile */
.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
  display: block;
}
.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 600px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

  transform: translateX(-50%) translateY(-50%);
}
/* 닫기창 */
#removeModal {
  margin: 20px 20px 0 0;
  border: 1px solid #37ecba;
  border-radius: 50%;
  float: right;
  background-color: transparent;
  color: #37ecba;
  width: 30px;
  height: 30px;
}
#profile-form {
  border-radius: 10px;
  width: 400px;
  height: 600px;
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.profile-home {
  position: absolute;
}
/* 프로필관리 */
#profile-form h1 {
  text-align: center;
  position: absolute;
  top: 0;
  left: 27%;
  font-weight: 700;
}
#prof-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  right: 21.5%;
  object-fit: cover;
}
.profile-camera {
  margin-left: 200px;
  position: absolute;
  top: 380px;
  right: 75px;
}
#profileNickname {
  width: 230px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 195px;
  right: 85px;
  border: none;
  background-color: rgb(243, 243, 243);
}
#profileNickname::placeholder {
  color: #bec3c9;
}
#profileNickname[type="text"]::placeholder {
  font-family: "Material Icons Outlined";
}
#profileNickname:hover {
  border-color: #61efc7;
}
#btnSave {
  background-color: #61efc7;
  width: 130px;
  height: 40px;
  border: 1px solid #61efc7;
  border-radius: 20px;
  box-sizing: border-box;
  position: center;
  bottom: 160px;
  right: 160px;
  transition: all 0.3s;
  color: #fff;
}
#btnSave:hover {
  background-color: transparent;
  color: #61efc7;
}
.btn-gear {
  margin-right: 5px;
}

/* review-modal style */
.review-modal,
.main-review-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.review-modal.show,
.main-review-modal.show {
  display: block;
}
.review-modal-body,
.main-review-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 660px;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  background-color: #fff;

  transform: translateX(-50%) translateY(-50%);
}
#main-review-content,
#review-modal-body {
  width: 100%;
  height: 100%;
}
.main-cards,
#review-content .mycards,
.search-cards {
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;
}
.main-cards .card-img-top,
#review-content .mycards .card-img-top,
.search-cards .card-img-top {
  float: left;
  width: 400px;
  height: 580px;
  object-fit: cover;
  overflow: hidden;
}
.main-cards .my-content,
#review-content .mycards .my-content,
.search-cards .my-content {
  float: left;
  width: 500px;
  height: 580px;
  padding: 30px 20px 30px 40px;
  overflow-y: auto;
}
.main-cards .my-content .my-title,
#review-content .mycards .my-title,
.search-cards .my-content .my-title {
  font-size: 2.3em;
  font-weight: 700;
  padding: 10px 0;
}
.main-cards .my-content .my-review-text,
#review-content .mycards .my-content .my-review-text,
.search-cards .my-content .my-review-text {
  font-size: 1.1em;
  letter-spacing: 1.5;
  text-align: left;
  color: rgb(81, 81, 81) !important;
}

/* 반응형 */
@media (max-width: 1300px) {
  .commentslists {
    width: 900px;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto;
  }
  #my-review-list {
    width: 900px;
  }
  .post-container {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  .commentslists {
    width: 600px;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
  }
  .flip-card {
    width: 350px;
    height: 450px;
  }
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
  }
  .flip-card-front img {
    width: 100% !important;
  }
  .title_line {
    width: 300px;
    margin: 50px 0 20px;
    color: #333;
    font-size: 2.5em;
  }
  .name_line {
    margin: 14px 0;
    font-size: 1.2em;
  }
  .text_line {
    width: 300px;
    height: 200px !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 163px;
    padding-left: 30px;
    font-size: 1.2em;
    overflow: hidden;
    margin-bottom: 25px;
  }
  .my-cmtAt {
    color: #bdc2c8;
    padding: 0 20px;
    font-weight: 300;
  }
  #authWrapper {
    min-width: 450px;
  }
  .review-modal-body,
  .main-review-modal-body {
    width: 700px;
    height: 570px;
  }
  .main-cards .card-img-top,
  #review-content .mycards .card-img-top {
    width: 300px;
    height: 480px;
  }
  .main-cards .my-content,
  #review-content .mycards .my-content {
    width: 320px;
    height: 460px;
    padding: 20px;
  }
  .main-cards .my-content .my-title,
  #review-content .mycards .my-title {
    font-size: 2em;
    padding: 5px 0;
  }
  .review-modal-body,
  .main-review-modal-body > #removeModal {
    margin: 15px;
  }
}
@media (max-width: 600px) {
  .commentslists {
    width: 400px;
    grid-template-columns: auto;
  }
  .flip-card {
    width: 380px;
    height: 480px;
  }
  .title_line {
    width: 330px;
  }
  .text_line {
    width: 330px;
    margin-bottom: 45px;
  }
  #my-review-list {
    width: 500px;
  }
  .post-container {
    width: 90%;
  }
  #authWrapper {
    min-width: 85%;
  }
  .review-modal-body,
  .main-review-modal-body {
    width: 480px;
    height: 800px;
    overflow-y: scroll;
  }
  .review-modal-body,
  .main-review-modal-body > #removeModal {
    margin: 10px;
  }
  .main-cards .card-img-top,
  #review-content .mycards .card-img-top {
    width: 400px;
    height: 580px;
  }
  .main-cards .my-content,
  #review-content .mycards .my-content {
    float: left;
    width: 400px;
    height: 130px;
    overflow-y: visible;
  }
}

.chageinput {
  display: flex;
  flex-direction: column;
}

/* merge 전 */
.writeSection {
  width: 400px;
  display: flex;
  gap: 30px;
}

#gotoMyReview,
#gotoMain {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #61efc7;
  border: 2px solid #61efc7;
  transition: all 0.3s;
  font-weight: 700;
  box-shadow: none !important;
}

#gotoMyReview:hover,
#gotoMain:hover {
  background-color: transparent;
  color: #61efc7;
  border: 2px solid #61efc7;
}

.goBtn {
  color: white;
  text-decoration: none;
}

.goBtn:hover {
  color: #61efc7;
}

.open-review:hover {
  background-color: white;
  color: #61efc7;
  border: 2px solid #61efc7;
}

.search-box {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

#inputSearch {
  width: 600px;
  margin-right: 25px;
  border-radius: 30px;
  padding-left: 30px;
}

#searchBtn {
  border: none;
  background-color: transparent;
}

#searchBtn:hover {
  transform: scale(1.3);
}

.suggestions-container {
  margin-top: 50px;
}

.search-card-body {
  padding-left: 62px;
  padding-top: 40px;
  position: relative;
  margin: auto;
  width: 1000px;
  height: 660px;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  background-color: #fff;
}
.modal-profile {
  display: flex;
  padding-bottom: 30px;
}
.modal-profile .name_line {
  width: 50px;
  padding: 0;
}
